.checkboxListItem {
  position: relative;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  transition: border-color 0.25s;
  text-align: left;

  &:hover {
    .checkboxListItem__checkBoxFakeIcon_default {
      border-color: var(--secondary-grey-text-color);
    }
  }
  &_disabled {
    opacity: 0.6;
  }

  &__checkboxHidden {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }
  &__checkBoxFake {
    position: relative;
    margin: 0 9px 0 0;
    padding: 3px;
    display: block;
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
  }
  &__checkBoxFakeIcon {
    position: absolute;
    left: 3px;
    right: 3px;
    top: 3px;
    bottom: 3px;
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    transition: opacity 0.2s;

    &_default {
      border: 2px solid var(--primary-grey-text-color);
      border-radius: 2px;
    }
    &_active,
    &_hide {
      opacity: 0;
    }
    &_show {
      opacity: 1;
    }
  }
  &__content {
    display: block;
    flex: 1 1 auto;
  }
  &__title {
    padding-top: 2px;
    display: block;
    font-size: 14px;
    line-height: 1.42;
    font-weight: 600;
    color: var(--primary-grey-text-color);
  }
  &__subtitle {
    display: block;
    margin-top: 4px;
    font-size: 12px;
    line-height: 1.375;
    color: var(--secondary-grey-text-color);
  }
  &__image {
    margin-top: 3px;
    margin-left: 10px;
    width: 30px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 30px;
    img {
      display: block;
      max-height: 100%;
    }
  }
}
