.checkboxListPanel {
  padding: 24px 20px 0.4rem;
  border: 1px solid #d1d5db;
  box-shadow:
    0px 10px 15px -3px #64748b1f,
    0px 4px 6px -2px #64748b0d;
  border-radius: 8px;
  background-color: #fff;
  &__element {
    margin-bottom: 2rem;
  }
}
