:root {
  --title-text-color: #333333;
  --primary-grey-text-color: #363636;
  --secondary-grey-text-color: #666666;
  --light-grey-text-color: #8d8d8d;

  --primary-light-text-color: #ffffff;

  --border-color: #d1d5db;

  --body-background-color: #f5f5f5;
  --background-color: #ffffff;

  --primary-brand-color: #0da69c;

  --boder-radius-size: 8px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--primary-grey-text-color);
  background-color: var(--body-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

h1 {
  margin: 0 0 130px;
  font-size: 32px;
  line-height: 1.1;
  font-weight: 600;
  color: var(--title-text-color);
}

h2 {
  margin: 0 0 110px;
  font-size: 24px;
  line-height: 1.375;
  font-weight: 600;
  color: var(--title-text-color);
}

h3 {
  margin: 0 0 40px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  color: var(--title-text-color);
}

button {
  margin: 0;
  padding: 8px 20px;
  font-size: 14px;
  line-height: 1.36;
  font-weight: 700;
  font-family: inherit;
  color: var(--primary-light-text-color);
  letter-spacing: 0.5px;
  cursor: pointer;
  border: none;
  border-radius: var(--boder-radius-size);
  background-color: var(--primary-brand-color);
  box-shadow: none;
  transition: box-shadow 0.25s;
}

button:hover {
  box-shadow: 1px 1px 4px 1px rgba(100, 116, 139, 0.4);
}

button:focus,
button:focus-visible {
  outline: none;
  box-shadow: 1px 1px 4px 1px rgba(100, 116, 139, 0.7);
}

.textButton {
  padding: 8px 4px;
  color: var(--primary-brand-color);
  background-color: transparent;
  transition: opacity 0.25s;
  border-radius: 0;
}

.textButton:hover,
.textButton:focus,
.textButton:focus-visible {
  box-shadow: none;
}
.textButton:hover {
  opacity: .6;
}


#root {
  width: 100%;
}
