:root {
  --title-text-color: #333333;
  --primary-grey-text-color: #363636;
  --secondary-grey-text-color: #666666;
  --light-grey-text-color: #8d8d8d;

  --primary-light-text-color: #ffffff;

  --border-color: #d1d5db;

  --body-background-color: #f5f5f5;
  --background-color: #ffffff;

  --primary-brand-color: #0da69c;

  --boder-radius-size: 0.8rem;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--primary-grey-text-color);
  background-color: var(--body-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

h1 {
  margin: 0 0 13rem;
  font-size: 3.2rem;
  line-height: 1.1;
  color: var(--title-text-color);
}

h2 {
  margin: 0 0 11rem;
  font-size: 2.4rem;
  line-height: 1.375;
  color: var(--title-text-color);
}

h3 {
  margin: 0 0 4rem;
  font-size: 2rem;
  line-height: 1.2;
  color: var(--title-text-color);
}

button {
  margin: 0;
  padding: 0.8rem 2rem;
  font-size: 1.4rem;
  line-height: 1.36;
  font-weight: 700;
  font-family: inherit;
  color: var(--primary-light-text-color);
  letter-spacing: 0.05rem;
  cursor: pointer;
  border: none;
  border-radius: var(--boder-radius-size);
  background-color: var(--primary-brand-color);
  box-shadow: none;
  transition: box-shadow 0.25s;
}

button:hover {
  box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem rgba(100, 116, 139, 0.4);
}

button:focus,
button:focus-visible {
  outline: none;
  box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem rgba(100, 116, 139, 0.7);
}

#root {
  width: 100%;
}
