.checkboxListSearch {
  position: relative;
  &__input {
    width: 100%;
    padding: 11px 32px 11px 12px;
    font-size: 14px;
    line-height: 1.375;
    color: #333;
    border-radius: var(--boder-radius-size);
    border: 1px solid var(--border-color);
    background: transparent;
    box-shadow: none;
    transition: box-shadow 0.25s;

    appearance: textfield;
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }
    &:focus,
    &:hover {
      outline: none;
      box-shadow: 1px 1px 4px 0 rgba(100, 116, 139, 0.25);
    }

    &::placeholder {
      color: var(--light-grey-text-color);
    }
  }
  &__lenth {
    --size: 24px;

    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: calc(var(--size) * -0.5);
    padding: 3px;
    display: block;
    width: var(--size);
    height: var(--size);

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
